
<div class="header-container">
    <div class="header-content-holder">
        <div class="logo-bar">
        <div class="logo-section">
            <h1 class="fidelity-logo">
                <img class="logo-img" src="/assets/Fidelity-Logo.svg" alt="fidelity">
            </h1>
            <ul class="first-menu">
                <li>CUSTOMER SERVICE</li>
                <li>PROFILE</li>
                <li>OPEN AN ACCOUNT</li>
                <li>REFER A FRIEND</li>
                <li>LOG OUT</li> 
            </ul>
        </div>
        <div class="search-field">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search or get a quote">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">
                    <img src="/assets/Icons/Search.svg" alt="search button" >
                  </button>
                </div>
              </div>
        </div>
    </div>
    <div class="header-tabs">
        <ul class="header-tabs-sec">
            <li>
                <a href="#">Accounts & Trade</a>
            </li>
            <li>
                <a href="#">Planning & Advice</a>
            </li>
            <li>
                <a href="#">news & Research</a>

            </li>
            <li>
                <a href="#">Investments Products</a>
            </li>
            <li>
                <a href="#">Why Fidelity</a>
            </li>
        </ul>
    </div>
    </div>
    <div class="breadcrumbs">
        <div class="container">
            <ul>
                <li class="bread-1"><a href="#">News & Research</a></li>
                <li class="bread-2"><a href="#">Options</a></li>
            </ul> 
            <a href="#" class="help">
                <i></i>
                <span>help</span>
            </a>
        </div>
    </div>     
</div>