
    <div class="next-step-section">
        <div class="next-step-header">
            <h3>Position next Steps</h3>
            <a href="#"><span>More</span><i></i></a>
        </div>
        <div class="position-options">
            <span>Option Positions</span>
            <ul class="select-content-holder">
                <li>
                    <div class="select big-option-select">
                        <select name="slct" id="slct">
                            <option selected disabled>C - June 19 2020 - $10 Covered Call</option>
                            <option value="1">D - June 19 2020 - $10 Covered Call</option>
                            <option value="2">J - June 19 2020 - $10 Covered Call</option>
                            <option value="3">Z - June 19 2020 - $10 Covered Call</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="numerics">
                        <span class="bold-number"><b>$6.21</b></span>
                        <span class="green-number">+0.43 (1.05%)</span>
                        <img src="/assets/Icons/refresh.svg" class="refresh-size" alt="Refresh button">
                    </div>
                </li>
                <li>
                    <ul class="bid-ask-volume">
                        <li>
                            <span class="nyse-cover">
                                <span class="nyse-bid">
                                    <b>Bid</b>
                                    <span class="grey-text">NYSE</span>
                                </span>
                                <span>142.70 x 100</span>
                            </span>
                        </li>
                        <li>
                            <span class="nyse-cover">
                                <span class="nyse-bid">
                                    <b>Ask</b>
                                    <span class="grey-text">NASD</span>
                                </span>
                                <span>142.70 x 100</span>
                            </span>
                        </li>
                        <li>
                            <span class="nyse-cover">
                                <span class="nyse-bid">
                                    <b>Volume</b>
                                    <span></span>
                                </span>
                                <span>142.70 x 100</span>
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="col-length">
                        <p class="card-heading">Hold Until Expiration</p>
                        <div class="card-holder">
                            <div class="benefits-text">
                                <span class="font-green">Benefits</span>
                                <p>Holding your option position until expiration guarantees you keep 100% of the upfrom premium.</p>
                            </div>
                            <div class="risk-text">
                                <span class="risk">Risks</span>
                                <p>If C goes above $10.00 before June 19, 2020, you may have to sell 300 shares and lose any potential future gains.</p> 
                            </div>
                        </div>
                        <div class="bottom-content">
                            <p><b>60%</b> probability of C staying below $10.00 by June 19, 2020.</p>
                        <a href="#" >Set Price Alert and we will let you know when the stock price is close to the strike price.</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="col-length">
                        <span class="card-heading">But to Close</span>
                    <div class="card-holder">
                        <div class="benefits-text">
                            <span class="font-green">Benefits</span>
                            <p>Closing your option position will lock in profits or limit further losses. You will also keep your shares of the underlying.</p>
                        </div>
                        <div class="risk-text">
                            <span class="risk">Risks</span>
                            <p>Closing your option position may cost more than the premium you collected up front</p> 
                        </div>
                    </div>
                    <div class="bottom-content">
                        <span>
                            <span class="current-value">Current Value of Contract:</span>
                            <span>$621.00 <span class="font-green-text">(+$25.00 gain from cost basis)</span></span>
                        </span>
                        <a class="card-button" href="#" >Buy to Close</a>
                    </div>
                    </div>    
                </div>
                <div class="col-3">
                    <div class="col-length">
                        <span class="card-heading">Sell More</span>
                    <div class="card-holder">
                        <div class="benefits-text">
                            <span class="font-green">Benefits</span>
                            <p>Increase your position size to collect more premium while keeping your expiration date the same.</p>
                        </div>
                        <div class="risk-text">
                            <span class="risk">Risks</span>
                            <p>If C goes above $10.00 before June 19, 2020, you may have to sell more shares to cover the additional contracts sold.</p> 
                        </div>
                    </div>
                    <div class="bottom-content">
                        <p>Based on the number of shares you own, you can sell up to 3 more covered calls.</p>
                        <a class="card-button" href="#" >Sell More</a>
                    </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="col-length">
                        <span class="card-heading">Roll</span>
                        <div class="card-holder">
                            <div class="benefits-text">
                                <span class="font-green">Benefits</span>
                                <p>Extend your covered call further into the future and collect more premium.</p> 
                            </div> 
                            <div class="risk-text">
                                <span class="risk">Risks</span>
                                <p>Extending your covered call may increase the probability and risk of having shares called away.</p> 
                            </div> 
                        </div>
                        <div class="bottom-content">
                            <div class="month-select-holder">
                                <span class="text-select">
                                    <span>$10.00 Call</span>
                                    <div class="select small-option-select">
                                        <select name="slct" id="slct">
                                            <option selected disabled>+1 Month</option>
                                            <option value="1">+2 Month</option>
                                            <option value="2">+3 Month</option>
                                            <option value="3">+4 Month</option>
                                        </select>
                                    </div>
                                </span>
                                <p>
                                    Est. Income from rolling: <span class="font-green-text">$215.00</span>
                                </p>
                                <a class="card-button btn-spec" href="#" >Sell More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


