<div class="market-insights">
    <div class="container">
        <div class="market-insights-holder">
            <div class="inner-holder">
                <div class="market-insights-heading">
                    <span><a class="insights-link-color" href="#" >MARKET <br> INSIGHTS</a></span>
                </div>
                <ul>
                    <li><span>DJIA:</span><span>29,003.51</span><span class="red-insights-num">+46.61 (0.16%)</span></li>
                    <li><span>DJIA:</span><span>29,003.51</span><span class="red-insights-num">+46.61 (0.16%)</span></li>
                    <li><span>DJIA:</span><span>29,003.51</span><span class="red-insights-num">+46.61 (0.16%)</span></li>
                    <li>Markets Close in 5hrs 52 mins</li>
                </ul>
            </div>
        </div>
    </div>
</div>
